{% extends 'portfolio/vsp.html' %}

{% load static %}

{% block content_ru_version %}
<p align="justify">Мне очень нравится язык Python. И мне очень импонирует Django. Наверное, нужно будет поговорить об
    этом в блоге… Каких-то «проектов» у меня пока мало. Я занимаюсь python on the stepik.org. Я читаю статьи в телеграмм
    и на просторах интернета. Я взял пару баз на CheckiO.org. Любимая подарила мне курс на stepik “ Django 3 - Full
    Stack разработка веб-сайтов на Python”, в результате которого я и создаю свое портфолио. Ей отдельное СПАСИБО! :-)
</p>
<p align="justify">Где ж реально понадобилось мне уже все что мне нравится? Ну конечно, на работе! Я то и
    заинтересовался Django, потому что мне дико хотелось переделать все свои программы VBA, в какую-то более удобную и
    правильную программу, завязанную на SQL, ну… знаете чтобы там все было по взрослому. А оказалось, что на курсы меня
    никто не отправит, помогать не будет, ну а в конце то концов я оказался не нужен на своей работе, так как это им не
    надо это вовсе, а вместо меня взяли знакомого парня, без образования с далекого города. Ладно, хорошо. Это же не
    значит, что НЕ надо познавать интересное и более прогрессивное? Да, конечно нет! Я нашел другую работу :-). Да она
    про администрирование, ну и что. Python надо везде!</p>
<br>
<h2>Задача 1.</h2>
<p align="justify">На моей текущей работе есть программа в Access, в которой создается обсчёт изделий, выпускаемых
    фирмой, в которой я работаю. Так же эта программа формирует файлы в формате xml, которые импортируются на три сайта
    фирмы и прайс товаров в Битрикс24. Так произошло, что человек, разрабатывающий это ПО, перестал его поддерживать. А
    законодательные изменения никто не отменял, и в названии всех изделий необходимо было ввести ТУ, это такие
    определенно сформированные буквы и цифры. Т.е. если проще, необходимо взять прайс и к столбцу «Название» приклеить
    столбец «Маркировка» потом столбец «Численная Маркировка» и все это снова записать в «Название». А так как мне уже
    давно хотелось попробовать в python какие-нибудь библиотеки, отвечающие за формы, то я используя <b>PySimpleGUI</b>
    организовал форму общения с пользователем, в данном случае больше с самим собой, и используя pandas загружаю нужный
    мне прайс из xml, модифицирую его и записываю назад в xml. Потом используя <b>auto-py-to-exe</b> я сконвертировал
    скрипт в exe, чтобы он исполнялся на любых ПК под Win. Получилось здорово, конечно, если у тебя есть нужный прайс
    :-)</p>
    <a class="btn btn-primary" href="{% static "portfolio/correct.py" %}" src="{% static "portfolio/correct.py" %}"
           target="_blank">Ссылка на correct.py</a>
    <p align="center">
    <img name="{% static "portfolio/dj_1.png" %}" src="{% static "portfolio/py_2.png" %}" class="img-fluid" height="40%">
    </p>

<h2>Задача 2. </h2>
<p align="justify">Из того самого вышеупомянутого курса. Необходимо создать сайт, генерирующий пароли заданной длинны из
    букв, верхнего нижнего регистров, цифр и спец символов
    <a href="https://github.com/IvShalygin/django4-password-generator/tree/master/password_gnerator_project"
       target="_blank">Ссылка на проект на GitHub.com</a>
<p align="center">
    <img name="{% static " portfolio/dj_1.png" %}" src="{% static "portfolio/dj_1.png" %}" class="img-fluid">
    <img name="{% static " portfolio/dj_2.png" %}" src="{% static "portfolio/dj_2.png" %}" class="img-fluid">
</p>

<h2>Задача 3. </h2>
<p align="justify">Необходимо используя ресурс предоставления погоды узнать погоду в трех городах (Шереметьево,
    Череповце и Лондоне)</p>
<a href="https://replit.com/@DarkUnicorns/getweather#main.py" target="_blank">Ссылка на ресурс решения задачи</a>
<p align="center">
    <img name="{% static " portfolio/py_1.png" %}" src="{% static "portfolio/py_1.png" %}" height="40%" class="img-fluid"> </p>
{% endblock%}

{% block content_en_version %}
<p align="justify">I really like the Python language. And I really like Django. Probably, it will be necessary to talk about
this is in the blog… I don't have many "projects" yet. I'm doing python on the stepik.org . I read the articles in the telegram
and on the Internet. I took a couple of bases on CheckiO.org . My beloved gave me a course on stepik “ Django 3 - Full
Stack development of websites in Python”, as a result of which I create my portfolio. Special THANKS to her! :-)
</p>
<p align="justify">Where did I really need everything I like already? Of course, at work! That's why I
got interested in Django, because I wildly wanted to redo all my VBA programs into some more convenient and
correct program tied to SQL, well... you know, so that everything would be grown-up there. And it turned out that the courses I
no one will send, no one will help, well, in the end, I was not needed at my job, because they don't
it is necessary at all, but instead of me they took a guy they knew, without an education from a distant city. Okay, good. It's not like
does it mean that you don't need to learn interesting and more progressive things? Yes, of course not! I found another job :-). Yes, it
's about administration, so what. Python is needed everywhere!</p>
<br>
<h2>Task 1.</h2>
<p align="justify">At my current job, there is a program in Access that creates a calculation of products manufactured
by the company I work for. Also, this program generates files in xml format, which are imported to three
company websites and a price list of products in Bitrix24. It so happened that the person developing this software stopped supporting it. And
no one canceled the legislative changes, and in the name of all products it was necessary to enter the ONE, these are
definitely formed letters and numbers. Ie, if it's easier, you need to take a price list and glue it to the "Name" column
the column "Marking" then the column "Numerical Marking" and write all this again in the "Name". And since I already
I've long wanted to try some libraries in python that are responsible for forms, then I'm using <b>PySimpleGUI</b>
I organized a form of communication with the user, in this case more with myself, and using pandas I download
the price I need from xml, modify it and write it back to xml. Then using <b>auto-py-to-exe</b> I converted
the script is in exe so that it is executed on any PC under Win. It turned out great, of course, if you have the right price list :-)
</p>
    <a class="btn btn-primary" href="{% static "portfolio/correct.py" %}" src="{% static "portfolio/correct.py" %}"
           target="_blank">Links to correct.py</a>
    <p align="center">
    <img name="{% static "portfolio/dj_1.png" %}" src="{% static "portfolio/py_2.png" %}" class="img-fluid" height="40%">
    </p>

<h2>Task 2.</h2>
<p align="justify">From the above-mentioned course. You need to create a website that generates passwords of a given length from letters, upper lowercase, numbers and special characters
    <a href="https://github.com/IvShalygin/django4-password-generator/tree/master/password_gnerator_project"
       target="_blank">
Links to project at GitHub.com</a>
<p align="center">
    <img name="{% static " portfolio/dj_1.png" %}" src="{% static "portfolio/dj_1.png" %}" class="img-fluid">
    <img name="{% static " portfolio/dj_2.png" %}" src="{% static "portfolio/dj_2.png" %}" class="img-fluid">
</p>

<h2>Task 3.</h2>
<p align="justify">It is necessary to find out the weather in three cities using the weather resource (Sheremetyevo, Cherepovets and London)</p>
<a href="https://replit.com/@DarkUnicorns/getweather#main.py" target="_blank">Link to a resource for solving the task</a>
<p align="center">
    <img name="{% static " portfolio/py_1.png" %}" src="{% static "portfolio/py_1.png" %}" height="40%" class="img-fluid"> </p>

{% endblock%}

{% block content_by_version %}
<p align="justify">Мне вельмі падабаецца мова Python. І мне вельмі імпануе Джанго. Напэўна, трэба будзе пагаварыць пра
гэтым у блогу... нейкіх "праектаў" у мяне пакуль мала. Я займаюся python на stepik.org . Я чытаю артыкулы ў тэлеграм
і на прасторах інтэрнэту. Я ўзяў пару баз на CheckiO.org. любімая падарыла мне курс на степик " Джанго 3-Поўны
Стэк распрацоўка вэб-сайтаў на Python", у выніку якога я і ствараю сваё партфоліо. Ёй асобнае дзякуй! :-)
</p>
<p align="justify">Дзе ж рэальна спатрэбілася мне ўжо ўсё што мне падабаецца? Ну вядома, на працы! Я то і
зацікавіўся Django, таму што мне дзіка хацелася перарабіць усе свае праграмы VBA, у нейкую больш зручную і
правільную праграму, завязаную на мове SQL, ну ведаеце... каб там усё было па даросламу. А аказалася, што на курсы мяне
ніхто не адправіць, дапамагаць не будзе, ну а ў рэшце то рэшт я апынуўся не патрэбны на сваёй працы, бо гэта ім не
трэба гэта зусім, а замест мяне ўзялі знаёмага хлопца, без адукацыі з далёкага горада. Добра, добра. Гэта ж не
значыць, што не трэба пазнаваць цікавае і больш прагрэсіўнае? Так, вядома не! Я знайшоў іншую працу :-). Ды яна
пра адміністраванне, ну і што. Пітон трэба ўсюды!</p>
<br>
<h2>Задача 1.</h2>
<p align="justify">На маёй бягучай працы ёсць праграма ў Доступ, у якой ствараецца аблік вырабаў, якія выпускаюцца
фірма, у якой я працую. Гэтак жа гэтая праграма фармуе файлы ў фармаце XML, у якія імпартуюцца на тры сайта
фірмы і прайс тавараў у Битрикс24. Так адбылося, што чалавек, які распрацоўвае гэта па, перастаў яго падтрымліваць. А
заканадаўчыя змены ніхто не адмяняў, і ў назве ўсіх вырабаў неабходна было ўвесці тую, гэта такія
вызначана сфармаваныя літары і лічбы. Г. зн. калі прасцей, неабходна ўзяць прайс і да слупка "назва" прыляпіць
слупок "маркіроўка «потым слупок» лікавая маркіроўка «і ўсё гэта зноў запісаць у»Назва". А так як мне ўжо
даўно хацелася паспрабаваць у python якія-небудзь бібліятэкі, якія адказваюць за формы, то я выкарыстоўваючы <b>PySimpleGUI</b>
арганізаваў форму зносін з карыстальнікам, у дадзеным выпадку больш з самім сабой, і выкарыстоўваючы панд загружаю патрэбны
мне прайс з xml, мадыфікую яго і запісваю назад у xml. Потым выкарыстоўваючы <b>auto-py-to-exe</b> я сканвертаваў
скрыпт у exe, каб ён выконваўся на любых ПК пад Win. Атрымалася выдатна, вядома, калі ў цябе ёсць патрэбны прайс
:-)</p>
    <a class="btn btn-primary" href="{% static "portfolio/correct.py" %}" src="{% static "portfolio/correct.py" %}"
           target="_blank">Спасылка на correct.py</a>
    <p align="center">
    <img name="{% static "portfolio/dj_1.png" %}" src="{% static "portfolio/py_2.png" %}" class="img-fluid" height="40%">
    </p>

<h2>Задача 2. </h2>
<p align="justify">З таго самага вышэйзгаданага курса. Неабходна стварыць сайт, генеравальны паролі зададзенай доўгія з літар, верхняга ніжняга рэгістраў, лічбаў і спец знакаў

    <a href="https://github.com/IvShalygin/django4-password-generator/tree/master/password_gnerator_project"
       target="_blank">Спасылка на праект на GitHub.com</a>
<p align="center">
    <img name="{% static " portfolio/dj_1.png" %}" src="{% static "portfolio/dj_1.png" %}" class="img-fluid">
    <img name="{% static " portfolio/dj_2.png" %}" src="{% static "portfolio/dj_2.png" %}" class="img-fluid">
</p>

<h2>Задача 3. </h2>
<p align="justify">Неабходна выкарыстоўваючы рэсурс прадастаўлення надвор'я даведацца надвор'е ў трох гарадах (Шарамеццева,
Чарапаўцы і Лондане)</p>
<a href="https://replit.com/@DarkUnicorns/getweather#main.py" target="_blank">Спасылка на рэсурс рашэння задачы</a>
<p align="center">
    <img name="{% static " portfolio/py_1.png" %}" src="{% static "portfolio/py_1.png" %}" height="40%" class="img-fluid"> </p>

{% endblock%}