{% extends 'portfolio/vsp.html' %}

{% load static %}

{% block content_ru_version %}
<p align="justify">Что такое это вот.. системное администрирование? Да, это нужно взять ПК, настроить прям сразу всё-всё
    и забыть про этот ПК. Никого не видеть, не общаться и только мерный гул кулеров, головок HDD и свет диодов на ПК и
    switches. Идеальная работа для флегматично-меланхоличных интровертов.</p>
<p align="center">
    <img name="{% static " portfolio/adm_1.jpg" %}" src="{% static "portfolio/adm_1.jpg" %}" class="img-fluid"
    ata-bs-toggle="tooltip" title="Картинка из инета. Спасибо этому человеку за невозмутимость, а фотографу за мастерство" >
</p>
<div class="clearfix">
   <img name="{% static " portfolio/admin_2.jpg" %}" src="{% static "portfolio/admin_2.jpg" %}" class="col-md-3
    float-md-end mb-2 ms-md-2 img-fluid" >
<p align="justify">Но на самом деле вышеописанное это часть работы системного администратора. Во-первых, сразу всё-всё
    точно не получится, потому что не все известно, а еще ты оказывается человек :). Во-вторых, все изменяется и то что
    было вчера далеко не то что нужно сегодня. В-третьих, всё ломается, абсолютно всё, особенно если его сделали так,
    чтобы ресурс жизни был низкий. В-четвертых,… эм я не разу не флегматик и не разу не интроверт, я люблю коллектив, и
    это уже личная характеристика.</p>
<p align="justify">Как бы там не было, чего бы там не было и каким бы ты странным не был – системный администратор, это
    работа по поддержке техники и работы людей с ней. Это общение, понимание и достижение целей вместе с другими
    людьми.</p>
</div>
<div class="clearfix">
    <img name="{% static " portfolio/A3E7.gif" %}" src="{% static "portfolio/A3E7.gif" %}" class="col-md-2
    float-md-start mb-4 me-4 img-fluid" >
<p align="justify">Я системный администратор ПК Windows, я не много знаю Linux, но я работаю в этом направлении: ставлю
    виртуальные машины и пытаюсь решить на них разные обыденные задачи (доступ SSH, SMB, vpn-wireguard, nginx, php,
    mysql). </p>
<p align="justify">Все операционные системы крутятся физически на железе, и моя задача понимать, как это работает, определять
    сбойные компоненты, тестировать их, уметь их заменять, содержать в чистоте, соединять пк в сети и обеспечивать
    работоспособность этой сети.</p>
<p align="justify">Помогать пользователей и немного контролировать их. Проводить обряды, посредством танцев, местами с бубном.</p>
    <p align="justify">Ну и лично мне, нравится работать в команде.</p>
</div>
{% endblock%}

{% block content_en_version %}

<p align="justify">What is this here.. system administration? Yes, you need to take a PC, configure everything right away-everything
    and forget about this PC. Not to see anyone, not to communicate, and only the measured hum of coolers, HDD heads and light diodes on a PC and
    switches. An ideal job for phlegmatic and melancholic introverts.</p>
<p align="center">
    <img name="{% static " portfolio/adm_1.jpg" %}" src="{% static "portfolio/adm_1.jpg" %}" class="img-fluid"
    ata-bs-toggle="tooltip" title="A picture from the Internet. Thanks to this man for his equanimity, and to the photographer for his skill" >
</p>
<div class="clearfix">
   <img name="{% static " portfolio/admin_2.jpg" %}" src="{% static "portfolio/admin_2.jpg" %}" class="col-md-3
    float-md-end mb-2 ms-md-2 img-fluid" >
<p align="justify">But in fact, the above is part of the work of a system administrator. First of all, everything at once-everything
it definitely won't work, because not everything is known, and you also happen to be a person :). Secondly, everything changes and the fact that
it was yesterday far from what is needed today. Thirdly, everything breaks, absolutely everything, especially if it was done like this,
so that the life resource is low. Fourth, ... um, I have never been phlegmatic and never introverted, I love the team, and
this is a personal characteristic.</p>
<p align="justify">Whatever it is, whatever it is, and no matter how strange you are, the system administrator is
work to support equipment and people working with it. This is communication, understanding and achieving goals together with others people.</p>
</div>
<div class="clearfix">
    <img name="{% static " portfolio/A3E7.gif" %}" src="{% static "portfolio/A3E7.gif" %}" class="col-md-2
    float-md-start mb-4 me-4 img-fluid" >
<p align="justify">I am a system administrator of a Windows PC, I know Linux a little, but I am working in this direction: I put
    virtual machines and trying to solve various everyday tasks on them (SSH access, SSL, vpn-fireguard, nginx, php,
mysql). </p>
<p align="justify">All operating systems run physically on hardware, and my task is to understand how it works, to determine
    faulty components, test them, be able to replace them, keep them clean, connect PCs to the network and ensure
    the operability of this network.</p>
<p align="justify">Help users and control them a little. To conduct rituals, through dancing, in places with a tambourine.</p>
    <p align="justify">Well, personally, I like working in a team.</p>
</div>

{% endblock%}

{% block content_by_version %}

<p align="justify">Што такое гэта тут.. Сістэмнае адміністраванне? Так, гэта трэба ўзяць ПК, наладзіць прям адразу ўсё-ўсё
і забыцца пра гэты ПК. Нікога не бачыць, не кантактаваць і толькі мерны гул кулераў, галовак HDD і святло дыёдаў на ПК і
switches. Ідэальная праца для флегматычна-меланхалічных інтравертаў..</p>
<p align="center">
    <img name="{% static " portfolio/adm_1.jpg" %}" src="{% static "portfolio/adm_1.jpg" %}" class="img-fluid"
    ata-bs-toggle="tooltip" title="Карцінка з інэту. Дзякуй гэтаму чалавеку за спакой, а фатографу за майстэрства" >
</p>
<div class="clearfix">
   <img name="{% static " portfolio/admin_2.jpg" %}" src="{% static "portfolio/admin_2.jpg" %}" class="col-md-3
    float-md-end mb-2 ms-md-2 img-fluid" >
<p align="justify">Aле на самой справе вышэйапісанае гэта частка працы сістэмнага адміністратара. Па-першае, адразу ўсё-ўсё
дакладна не атрымаецца, таму што не ўсё вядома, а яшчэ ты аказваецца чалавек :). Па-другое, усё змяняецца і тое што
было ўчора далёка не тое што трэба сёння. Па-трэцяе, усё ламаецца, абсалютна ўсё, асабліва калі яго зрабілі так,
каб рэсурс жыцця быў нізкі. Па-чацвёртае, ... эм я не разу не флегматык і не разу не інтраверт, я люблю калектыў, і
гэта ўжо асабістая характарыстыка.</p>
<p align="justify">Як бы там не было, чаго б там не было і якім бы ты дзіўным не быў-сістэмны адміністратар, гэта
праца па падтрымцы тэхнікі і працы людзей з ёй. Гэта зносіны, разуменне і дасягненне мэтаў разам з іншымі
чалавек.</p>
</div>
<div class="clearfix">
    <img name="{% static " portfolio/A3E7.gif" %}" src="{% static "portfolio/A3E7.gif" %}" class="col-md-2
    float-md-start mb-4 me-4 img-fluid" >
<p align="justify">Я сістэмны адміністратар ПК Windows, я не шмат ведаю Linux, але я працую ў гэтым кірунку: стаўлю
віртуальныя машыны і спрабую вырашыць на іх розныя звычайныя задачы (доступ SSH, SMB, vpn-wireguard, nginx, php,
mysql). </p>
<p align="justify">Усе аперацыйныя сістэмы круцяцца фізічна на жалезе, і мая задача разумець, як гэта працуе, вызначаць
збойныя кампаненты, тэставаць іх, умець іх замяняць, трымаць у чысціні, злучаць пк у сеткі і забяспечваць
працаздольнасць гэтай сеткі.</p>
<p align="justify">апамагаць карыстальнікаў і трохі кантраляваць іх. Праводзіць абрады, з дапамогай танцаў, месцамі з бубнам.</p>
    <p align="justify">Ну і асабіста мне, падабаецца працаваць у камандзе.</p>
</div>

{% endblock%}

